
* {
	

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
.site {
	width: 100%;
	float: left;
	margin: 0;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding-right: 5%;
	padding-left: 5%;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		float: left;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.phone-wrap {
	width: 100%;
	float: left;
	background-color: $color-brown;
	padding: 10px 0;
	position: relative;
	z-index: 30;
	@media screen and (min-width: $tabwidth) {
		background: {
			image: url(images/header-board.png);
			repeat: no-repeat;
			size: cover;
		}

	}

	.phone {
		width: 100%;
		color: #fff;
		text-align: center;
		font: {
			weight: 400;
			size: 22px;
		}

		
		@media screen and (min-width: $tabwidth) {
			width: auto; 
			float: right;
			display: inline-block;
		}
		a {color: #fff;text-decoration: none;}
	}
}
header#masthead {
	width: 100%;
	float: left;
	padding: 20px 0;
	
	z-index: 50;
	position: relative;
	.image {
		@media screen and (min-width: $tabwidth) {
			background: {
				image: url(images/header-bg.jpg);
				repeat: no-repeat;
				size: cover;
			}
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			z-index: 48;
		}
		
	}
	.overlay {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 49;
		background-color: rgba(255,255,255,.7);
	}
}

/* Logo */
.logo , h1.logo {
	width: 280px;
	height: 73px;
	background: {
		image: url(images/logo.png);	
		size: cover;
		repeat: no-repeat;
	}
	margin: 10px auto;
	position: relative;
	z-index: 10000;

	@media screen and (min-width: $tabwidth) {
		width: 280px;
		height: 73px;
		margin: 0px auto 0px auto;
	}
	@media screen and (min-width: $deskwidth) {
		width: 400px;
		height: 105px;
	}
	@media screen and (min-width: $largewidth) {
		width: 400px;
		height: 105px;
	}
	@media screen and (min-width: $xlargewidth) {
		width: 450px;
		height: 118px;
	}
}
.logo a, h1.logo a {
	width: 280px;
	height: 73px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 280px;
		height: 73px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 450px;
		height: 118px;
	}
}
#primary {
	padding: 30px 0 0 0;
}
.footer-top {
	width: 100%;
	position: relative;
	line-height: 0;

	img {
		width: 100%;
		float: left;
	}
}
footer.site-footer {
	width: 100%;
	background-color: $color-brown;
	// position: relative;
	z-index: 40;
	float: left;
	padding: 40px 0;
	@media screen and (min-width: $tabwidth) {
		background: {
			image: url(images/footer-leaf.jpg);
			repeat: no-repeat;
			size: cover;
		}
	}


}
.foot-col {
	color: #fff;
	font: {
		size: 18px;
		weight: 300;
	}

	@media screen and (min-width: $tabwidth) {
		font-size: 14px;
	}
	@media screen and (min-width: $deskwidth) {
		font-size: 20px;
	}

	h3 {
		margin: 0 0 5px 0;
		font: {
			size: 24px;
			weight: 300;
		}
		

		@media screen and (min-width: $tabwidth) {
			font-size: 18px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 21px;
		}
	}
	.item {
		width: 100%;
		float: left;
		margin: 0 0 20px 0;
	}
	a {
		color: #fff;
	}
	h3.center {
		text-align: center;
	}
}
.footer-col-1 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;

	@media screen and (min-width: $tabwidth) {
		width: 30%;
		float: left;
		margin: 0 3% 50px 0;
		text-align: left;
	}
	@media screen and (min-width: $midwidth) {
		width: 22%;
		float: left;
		margin: 0 3% 50px 0;
		text-align: left;
	}
}
.footer-col-2 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 30%;
		float: left;
		margin: 0 0% 50px 0;
		text-align: left;
	}
	@media screen and (min-width: $midwidth) {
		width: 22%;
		float: left;
		margin: 0 0% 50px 0;
		text-align: left;
	}
}
.footer-col-3 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 30%;
		float: left;
		margin: 0 0% 50px 0;
		text-align: left;
	}
	@media screen and (min-width: $midwidth) {
		width: 22%;
		float: left;
		margin: 0 0% 50px 0;
		text-align: left;
	}
}
.footer-col-4 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 50%;
		
		text-align: left;
	}
	@media screen and (min-width: $midwidth) {
		width: 22%;
		float: right;
		text-align: left;
	}
	h3.center {
		text-align: center;
	}
	.behailu {
		width: 50%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}
.swoosh	{
	width: 100%;
	float: left;
	margin: 0 0 50px 0;
	img {
		width: 100%;
	}
}
.group-start {
	width: 100%;
	margin: 0 0 30px 0;
	border-bottom: 1px solid #fff;
	@media screen and (min-width: $tabwidth) {
		border-right: 1px solid #fff;
		border-bottom: 0;
		width: 24%;
		float: left;
	}
	.img-center {
		width: 50%;
		margin: 0 auto  30px auto;

		@media screen and (min-width: $tabwidth) {
			width: 65%;
			float: left;
		}

	}
	h3 {
		margin: 0 0 30px 0;
	}
}
.group-item	{
	width: 50%;
	margin: 0 auto 30px auto;
	@media screen and (min-width: $tabwidth) {
		width: 24%;
		margin: 0;
		float: left;
	}
	.img-summit {
		width: 75%;
		margin: 0 auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 65%;
			margin: 50px auto 0 auto;
		}
	}
	.img-packhouse {
		width: 100%;
		margin: 0 auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 100%;
			margin: 15% auto 0 auto;
		}
	}
	.img-mayo {
		width: 75%;
		margin: 0 auto 50px 20px;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			float: left;
			margin: 50px auto 0 20px;
		}
	}
	.img-joe {
		width: 75%;
		margin: 10px auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			// float: left;
			margin: 50px auto 0px auto;
		}
	}


}
.rollover {
	img {
		filter: brightness(0) invert(0);
		&:hover {
			filter: none;
		}
	}
}
.social {
	i {
		width: auto;
		height: auto;
		position: relative;
		margin: 0 15px 0 0;
		font-size: 30px;
		transform: scale(1);
		@include transition(all ease .3s);
		&:hover {
			transform: scale(.8);
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.res-wrap {
	width: 100%;
	text-align: center;
	z-index:60;
	margin: -20px auto 80px auto;
	overflow: hidden;
	@media screen and (min-width: $tabwidth) {
		margin: -80px auto 80px auto;
	}
	@media screen and (min-width: $deskwidth) {
		margin: -80px auto 80px auto;
	}
	@media screen and (min-width: $largewidth) {
		margin: -0px auto 80px auto;
	}
}
.reservation-wrapper {
	width: auto;
	
	display: inline-block;
	background-color: rgba(#422917, 1);
	padding: 20px 100px;
	@media screen and (min-width: $tabwidth) {
		background: {
			image: url(images/reservation.png);
			color: rgba(#422917, 1);
			repeat: no-repeat;
			size: cover;
		}
	}

	.request-res a {
		width: auto;
		display: block;
		padding: 20px 40px;
		border: 1px solid #fff;
		color: #fff;
		text-decoration: none;
		@include transition(all ease .3s);

		&:hover {
			background-color: rgba(255,255,255,.4);
		}
	}
}
section.creds {
	width: 100%;
	float: left;
	margin: 30px auto 20px auto;
	color: #fff;
	font-size: 12px;
	text-align: center;
	a {
		color: rgba(255,255,255,.8);
		text-decoration: none;

		&:hover {
			color: rgba(255,255,255,1);
		}
	}
}