.main-navigation {
	/*

		Change Opacity until Launch

	*/
	// opacity: 0;


	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	font-family: $font__main;
	text-transform: uppercase;
	position: relative;
	z-index: 1000;
	@media screen and (min-width: $tabwidth) {
		margin: 20px auto 0 auto;
		clear: none;
	}
	@media screen and (min-width: $midwidth) {
		margin: -70px auto 0 auto;
		clear: none;
	}
	@media screen and (min-width: $deskwidth) {
		margin: -100px auto 0 auto;
		width: 100%;
		// float: none;
		// height: 100px;
		// padding-left: 5%;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		font-size: 22px;
		width: 100%;
		line-height: 2.5;
		margin: 10px auto;
		@media screen and (min-width: $tabwidth) {
			font-size: 16px;
			width: auto;
			margin: 0 10px;
			&.right {
				float: right;
			}
			&.left {
				float: left;
			}
		}
		@media screen and (min-width: $midwidth) {
			font-size: 20px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 22px;
			margin: 0 20px;
		}

		&:hover > a,
		&.focus > a {
		}

	}
	a {
		display: block;
		text-decoration: none;
		color: $color-brown;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	// background-color: $color-green;
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}


@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
button.menu-toggle {
	border: 0px;
	text-shadow: none;
	background-color: $color-brown;
	color: #fff;
	box-shadow: none;
	width: auto;
	display: inline-block;
	margin: 10px auto;
	border-radius: 0;
	text-transform: uppercase;
	font: {
		
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
